<html>
  <body>
    <div class="ui-page">
         <div id="t-742367df-871a-4fbd-8035-52ea69b34cb7" class="template growth-both firer commentable" name="Essentials">
         <div id="backgroundBox"></div>
         <div id="alignmentBox">
           <link type="text/css" rel="stylesheet" href="./resources/templates/742367df-871a-4fbd-8035-52ea69b34cb7-1435621360829.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/742367df-871a-4fbd-8035-52ea69b34cb7-1435621360829-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/742367df-871a-4fbd-8035-52ea69b34cb7-1435621360829-ie8.css" /><![endif]-->
           <div id="t-Inbox-header" class="group firer ie-background commentable">
             <div id="t-Group_33" class="group firer ie-background commentable">
               <div id="t-Label_84" class="pie label firer commentable" ><div class="content"><div class="valign"><span></span></div></div></div>
               <div id="t-Label_14" class="label firer click ie-background commentable" ><div class="content"><div class="valign"><span></span></div></div></div>
               <div id="t-Label_85" class="label firer ie-background commentable" ><div class="content"><div class="valign"><span></span></div></div></div>
             </div>
             <div id="t-Group_34" class="group firer ie-background commentable">
               <div id="t-Rectangle_42" class="rectangle firer commentable" >
                <div class="clipping">
                 <div class="content">
                   <div class="valign">
                     <span id="rtr-t-Rectangle_42_0"><br /></span>
                   </div>
                 </div>
                </div>
               </div>
               <div id="t-Dynamic_Panel_15" class="dynamicpanel firer ie-background commentable">
                 <div id="t-Panel_17" class="panel default firer ie-background commentable" >
                     <table class="layout" summary="">
                       <tr>
                         <td class="layout horizontal insertionpoint verticalalign" valign="top" align="right"><img id="t-Image_19" class="image firer ie-background commentable"   alt="image" src="./images/a25f5d01-f909-446d-bf90-504222acf0d5.png"/><div id="t-Label_86" class="label firer ie-background commentable" ><div class="content"><div class="valign"><span>15:45</span></div></div></div></td> 
                       </tr>
                     </table>

                 </div>
               </div>
             </div>
           </div>
           <div id="t-Horizontal-softkeys" class="group firer ie-background commentable">
             <div id="t-Rectangle_19" class="rectangle firer commentable" >
              <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rectangle_19_0"></span>
                 </div>
               </div>
              </div>
             </div>
             <img id="t-Image_8" class="image firer ie-background commentable"   alt="image" src="./images/35e7eb72-b18a-4e74-8918-1c1772ca7b6b.png"/>
             <img id="t-Image_23" class="image firer ie-background commentable"   alt="image" src="./images/77fc5a81-31e0-4d25-be50-a5ad90098c07.png"/>
             <img id="t-Image_24" class="image firer click ie-background commentable"   alt="image" src="./images/ff8870cb-4126-419e-b828-d45c6d0b9e94.png"/>
           </div>
           <div id="t-segment-buttons" class="group firer ie-background commentable">
             <div id="t-Label_6" class="label firer click commentable" ><div class="content"><div class="valign"><span></span></div></div></div>
             <div id="t-Label_7" class="label firer click commentable" ><div class="content"><div class="valign"><span></span></div></div></div>
             <div id="t-Label_8" class="label firer click commentable" ><div class="content"><div class="valign"><span></span></div></div></div>
             <div id="t-Label_9" class="label firer click commentable" ><div class="content"><div class="valign"><span></span></div></div></div>
           </div>
           <div id="t-Dynamic_Panel_1" class="dynamicpanel firer commentable">
             <div id="t-Panel_1" class="panel default firer click swipeleft commentable" >
                 <table class="layout" summary="">
                   <tr>
                     <td class="layout vertical insertionpoint verticalalign" valign="top" align="left"><div id="t-Dynamic_Panel_2" class="dynamicpanel firer ie-background commentable">
                   <div id="t-Panel_2" class="panel default firer click ie-background commentable" >
                       <table class="layout" summary="">
                         <tr>
                           <td class="layout horizontal insertionpoint verticalalign" valign="middle" align="left"><div id="t-Label_3" class="label firer ie-background commentable" ><div class="content"><div class="valign"><span></span></div></div></div><div id="t-Label_1" class="label firer ie-background commentable" ><div class="content"><div class="valign"><span>Home</span></div></div></div></td> 
                         </tr>
                       </table>

                   </div>
                 </div><div id="t-Dynamic_Panel_3" class="dynamicpanel firer ie-background commentable">
                   <div id="t-Panel_3" class="panel default firer click ie-background commentable" >
                       <table class="layout" summary="">
                         <tr>
                           <td class="layout horizontal insertionpoint verticalalign" valign="middle" align="left"><div id="t-Label_4" class="label firer ie-background commentable" ><div class="content"><div class="valign"><span></span></div></div></div><div id="t-Label_2" class="label firer ie-background commentable" ><div class="content"><div class="valign"><span>Run</span></div></div></div></td> 
                         </tr>
                       </table>

                   </div>
                 </div><div id="t-Dynamic_Panel_4" class="dynamicpanel firer ie-background commentable">
                   <div id="t-Panel_4" class="panel default firer click ie-background commentable" >
                       <table class="layout" summary="">
                         <tr>
                           <td class="layout horizontal insertionpoint verticalalign" valign="middle" align="left"><div id="t-Label_5" class="label firer ie-background commentable" ><div class="content"><div class="valign"><span></span></div></div></div><div id="t-Label_10" class="label firer ie-background commentable" ><div class="content"><div class="valign"><span>Log</span></div></div></div></td> 
                         </tr>
                       </table>

                   </div>
                 </div><div id="t-Dynamic_Panel_5" class="dynamicpanel firer ie-background commentable">
                   <div id="t-Panel_5" class="panel default firer click ie-background commentable" >
                       <table class="layout" summary="">
                         <tr>
                           <td class="layout horizontal insertionpoint verticalalign" valign="middle" align="left"><div id="t-Label_11" class="label firer ie-background commentable" ><div class="content"><div class="valign"><span></span></div></div></div><div id="t-Label_12" class="label firer ie-background commentable" ><div class="content"><div class="valign"><span>Friends</span></div></div></div></td> 
                         </tr>
                       </table>

                   </div>
                 </div><div id="t-Dynamic_Panel_6" class="dynamicpanel firer ie-background commentable">
                   <div id="t-Panel_6" class="panel default firer click ie-background commentable" >
                       <table class="layout" summary="">
                         <tr>
                           <td class="layout horizontal insertionpoint verticalalign" valign="middle" align="left"><div id="t-Label_13" class="label firer ie-background commentable" ><div class="content"><div class="valign"><span></span></div></div></div><div id="t-Label_15" class="label firer ie-background commentable" ><div class="content"><div class="valign"><span>Activity</span></div></div></div></td> 
                         </tr>
                       </table>

                   </div>
                 </div><div id="t-Dynamic_Panel_8" class="dynamicpanel firer ie-background commentable">
                   <div id="t-Panel_8" class="panel default firer ie-background commentable" >
                       <table class="layout" summary="">
                         <tr>
                           <td class="layout horizontal insertionpoint verticalalign" valign="middle" align="left"><div id="t-Label_18" class="label firer ie-background commentable" ><div class="content"><div class="valign"><span></span></div></div></div><div id="t-Label_19" class="label firer ie-background commentable" ><div class="content"><div class="valign"><span>Settings</span></div></div></div></td> 
                         </tr>
                       </table>

                   </div>
                 </div><div id="t-Dynamic_Panel_7" class="dynamicpanel firer ie-background commentable">
                   <div id="t-Panel_7" class="panel default firer click ie-background commentable" >
                       <table class="layout" summary="">
                         <tr>
                           <td class="layout horizontal insertionpoint verticalalign" valign="middle" align="left"><div id="t-Label_16" class="label firer ie-background commentable" ><div class="content"><div class="valign"><span></span></div></div></div><div id="t-Label_17" class="label firer ie-background commentable" ><div class="content"><div class="valign"><span>Logout</span></div></div></div></td> 
                         </tr>
                       </table>

                   </div>
                 </div></td> 
                   </tr>
                 </table>

             </div>
           </div>

           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>